@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-display: optional;
  src: url(https://d1l2xccggl7xwv.cloudfront.net/fonts/graphik/GraphikThin.otf)
      font-weight-thin,
    url(https://d1l2xccggl7xwv.cloudfront.net/fonts/graphik/GraphikExtralight.otf)
      font-weight-extralight,
    url(https://d1l2xccggl7xwv.cloudfront.net/fonts/graphik/GraphikLight.otf)
      font-weight-light,
    url(https://d1l2xccggl7xwv.cloudfront.net/fonts/graphik/GraphikRegular.otf)
      font-weight-normal,
    url(https://d1l2xccggl7xwv.cloudfront.net/fonts/graphik/GraphikMedium.otf)
      font-weight-medium,
    url(https://d1l2xccggl7xwv.cloudfront.net/fonts/graphik/GraphikSemibold.otf)
      font-weight-semibold,
    url(https://d1l2xccggl7xwv.cloudfront.net/fonts/graphik/GraphikBold.otf)
      font-weight-bold,
    url(https://d1l2xccggl7xwv.cloudfront.net/fonts/graphik/GraphikBlack.otf)
      font-weight-black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
